### Editors
.idea
.vscode

### Gradle
.gradle
build

### Kotlin
.kotlin

### Tests
out

### Auto-Generation
**/generated/**/*.kt

### Tests configurations
**/test/**/resources/**.env

### Website
.wrangler
website/**/public/llms*.txt
website/**/public/markdown-sources.json
website/.kobweb/*
!website/.kobweb/conf.yaml

### Environment variables
**/.env
