### Intellij
.idea

### Gradle
.gradle
build

### Kotlin
.kotlin

### Tests
out

### Auto-Generation
**/generated/**/*.kt

### Tests configurations
**/test/**/resources/**.env

### Website
website/**/public/llms*.txt
website/.kobweb/*
!website/.kobweb/conf.yaml

### Environment variables
**/.env
