name: Publish

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Import GPG key
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.JRELEASER_GPG_SECRET_KEY }}
          passphrase: ${{ secrets.JRELEASER_GPG_PASSPHRASE }}

      - name: Prepare GPG env vars for JReleaser
        env:
          GPG_FINGERPRINT: ${{ steps.import-gpg.outputs.fingerprint }}
        run: |
          {
            echo "JRELEASER_GPG_PUBLIC_KEY<<'EOF'"
            gpg --armor --export "$GPG_FINGERPRINT"
            echo EOF
            echo "JRELEASER_GPG_SECRET_KEY<<'EOF'"
            gpg --armor --export-secret-key "$GPG_FINGERPRINT"
            echo EOF
          } >> "$GITHUB_ENV"

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          cache: gradle
          distribution: 'temurin'
          java-version: 21

      - name: Grant execute permission for Gradle
        run: chmod +x ./gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          dependency-graph: generate-and-upload

      - name: Publish to Central Portal
        env:
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.JRELEASER_GPG_PASSPHRASE }}
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
        run: |
          ./gradlew publishToSonatype --no-configuration-cache --stacktrace

      - name: Upload artifact (Main JARs)
        uses: actions/upload-artifact@v4
        with:
          name: JARs (Main)
          path: kore/build/libs/*.jar

      - name: Upload artifact (OOP JARs)
        uses: actions/upload-artifact@v4
        with:
          name: JARs (Modules)
          path: oop/build/libs/*.jar
